<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:util="http://www.springframework.org/schema/util"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/util https://www.springframework.org/schema/util/spring-util.xsd">

    <!-- bean definitions here -->
    <!-- <bean id="argumentsMessageProvider" class="ArgumentsMessageProvider">
         <constructor-arg name="args">
             <list>
                 <value>Hello 2023</value>
                 <value>param2</value>
                 <value>param3</value>
             </list>
         </constructor-arg>
     </bean>-->
    <bean id="defaultMessageProvider" class="DefaultMessageProvider"/>
    <bean id="jsonMessageRenderer" class="JsonMessageRenderer">
        <property name="messageProvider" ref="defaultMessageProvider"/>
    </bean>
</beans>